* {
  /* touch-action: manipulation !important; */
  -webkit-user-select: none !important;
  /* Safari */
  -ms-user-select: none !important;
  /* IE 10 and IE 11 */
  user-select: none !important;
  /* Standard syntax */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* font-weight: bold; */
  color: white;
  background-color: #222222;
}

body {
  margin: 0px 0px 0px 0px;
}

.container {
  width: 100%;
  height: 100%;
}

.score-elem {
  display: block;
}

.score {
  border: 5px solid white;
  border-radius: 20px;
  display: inline-block;
  width: 80%;
}


#score-a {
  background-color: blue;
}

#score-b {
  background-color: red;
}

.win {
  background-color: transparent;
  display: block;
  font-size: 0.4em;
  padding-top: 20px;
}

.de-score-wrap {
  background-color: white;
  position: relative;
  width: 1px;
  height: 1px;
}

.de-score {
  display: block;
  background-color: #555555;
  position: absolute;
  padding: 4px 4px 4px 4px;
  border: 4px solid white;
  border-radius: 24px;
  line-height: 0.2em;
  font-size: 0.3em;
  width: 0.4em;
  height: 0.4em;
}

@media only screen and (orientation: landscape) {
  .team {
    font-size: 25vw;
    width: 50%;
    height: 100%;
    display: inline-block;
    align-content: center;
    text-align: center;
  }

  #de-score-a {
    top: 0em;
    right: 0.1em;
  }

  #de-score-b {
    top: 0em;
    right: 0.1em;
  }
}

@media only screen and (orientation: portrait) {
  .team {
    font-size: 25vh;
    width: 100%;
    height: 50%;
    display: block;
    align-content: center;
    text-align: center;
  }

  #de-score-a {
    top: 0em;
    right: 0.1em;
  }

  #de-score-b {
    top: 0em;
    right: 0.1em;
  }
}